<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amgad.movies_sn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            NoActionBar
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".moviedb"
            android:label="@string/title_activity_moviedb"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <activity
            android:name=".Post"
            android:label="@string/title_activity_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".My_profile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Edit_profile"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Friends_profile"
            android:label="@string/title_activity_friends_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Moviemood"
            android:label="@string/title_activity_moviemood" />
        <activity
            android:name=".Main_page"
            android:label="@string/title_activity_main_page" />
        <activity
            android:name=".Comment"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".Friends_android"
            android:label="@string/title_activity_friends_android" />
        <activity
            android:name=".Movies_android"
            android:label="@string/title_activity_movies_android" />
        <activity
            android:name=".Users_android"
            android:label="@string/title_activity_users_android"></activity>
    </application>

</manifest>
